title: About
---
{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block content %}
<h1>whoami</h1>
<p>
    Hey there, I'm Kian Benner. I graduated high school in June 2024 and am now on a gap year. I like running, sleeping,
    and computers. I'm realizing as I write this that I need more interesting things about myself... I guess that's what
    the gap year is for!
</p>

<h1>What's This?</h1>
<p>
    This blog is meant to be a place where I can share things I've learned, upcoming plans, progress, and other thoughts
    throughout my gap year, so I can keep motivated and practice public learning. I hope I can find some people
    interested in what I am doing and make new friends along my journey or help others doing similar things. Also, I
    just wanted to say that the plain look to the site is an artistic choice, I am perfectly capable of making it
    colorful and fancy if I wanted to.
</p>

<h1>Socials</h1>
<p>
    Please reach out for anything. Would love to talk to people!<br/><br/>
    Github: <a href="https://github.com/Finay">Finay</a><br/>
    X: <a href="https://twitter.com/FlipFuzz">FlipFuzz</a><br/>
    Linkedin: <a href="https://www.linkedin.com/in/kianbenner/">kianbenner</a><br/>
    Discord: flipfuzz<br/>
    Mail: <a href="mailto:kian.benner@gmail.com">kian.benner@gmail.com</a>
</p>

<h1>Behind the Site</h1>
<p>See <a href="https://github.com/Finay/weblog">Finay/weblog</a> for the repo.</p>
<p>Libraries and technologies used for the blog include
    <a href="https://pypi.org/project/Flask-FlatPages/">Flask Flatpages</a>,
    <a href="https://pypi.org/project/Frozen-Flask/">Frozen Flask</a>,
    <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a>, and github pages.
</p>
<p>The layout and theme of the site was heavily inspired by
    <a href="http://intrologic.stanford.edu/public/lessons.php">the stanford logic curriculum.</a></p>
{% endblock %}