title: tags
---
{% extends 'base.html' %}

{% block title %}tags{% endblock %}

{% block content %}

{% if tags %}
<h1>Tags</h1>
<ul class="tags-list">
    {% for tag in tags %}
    <li>
        <a class="tag-link" href="{{ url_for('blogTag', tag=tag) }}">{{ tag }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if pages %}
<h1>{{ tag }}</h1>
<ul class="page-list">
    {% for page in pages %}
    <li>
        <a class="page-link" href="{{ url_for('blogPost', page=page.path.replace('posts/', '')) }}">{{ page.title }}</a>
        <div class="page-data">
            <p class="tags">{{page.tag}}</p>
            <p class="date">{{ page.date }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}