title: Anime List
tag: list
date: 2024-09-12
---
{% extends 'base.html' %}

{% block title %}anime list{% endblock %}

{% block content %}
<h1>Stuff you should watch</h1>
<ul>
    <li>Vinland Saga</li>
    <li>Neon Genesis Evangelion</li>
    <li>Parasyte</li>
    <li>Mushoku Tensei</li>
    <li>Sousou no Frieren</li>
    <li>Mob Psycho 100</li>
    <li>Great Teacher Onizuka</li>
    <li>86</li>
    <li>Death Note</li>
    <li>Cyberpunk: Edgerunners</li>
    <li>Horimiya</li>
    <li>Chainsaw Man</li>
    <li>One Punch Man</li>

</ul>

<h1>Stuff I wanna watch</h1>
<ul>
    <li>One Piece</li>
    <li>Violet Evergarden</li>
    <li>Summertime Render</li>
</ul>
<small>Date of publication indicates last update.</small><br/>
<small>Send me some recommendations at <a href="mailto:kian.benner@gmail.com">kian.benner@gmail.com</a></small>
{% endblock %}