title: Literature List
tag: list
date: 2024-06-24
---
{% extends 'base.html' %}

{% block title %}literature list{% endblock %}

{% block content %}
<h1>Stuff I'm reading</h1>
<ul>
    <li><i>Little Book of Deep Learning</i></li>
    <li><i>One Hundred Years of Solitude</i></li>
    <li><i>The Matrix Calculus You Need For Deep Learning</i></li>
</ul>
<h1>Stuff I read</h1>
<ol>
    <li><i>Meditations</i> by Marcus Aurelius (6/9/2024)</li>
</ol>
<small>(date I finished)</small>
<h1>Stuff I should read</h1>
<ul>
    <li><i>The Alignment Problem</i></li>
    <li><i>Once a Runner</i></li>
    <li><i>The Farther Reaches of Human Nature</i></li>
</ul>

<small>Date of publication indicates last update.</small>
<small>Send me some recommendations at <a href="mailto:kian.benner@gmail.com">kian.benner@gmail.com</a></small>
{% endblock %}