title: Movie List
tag: list
date: 2024-06-24
---
{% extends 'base.html' %}

{% block title %}movie list{% endblock %}

{% block content %}
<h1>Recommended from me</h1>
<ul>
    <li>(2) Whiplash</li>
    <li>(1) Good Will Hunting</li>
    <li>(2) Oppenheimer</li>
    <li>(2) Interstellar</li>
    <li>(1) Leon The Professional</li>
    <li>(2) The Social Network</li>
    <li>(2) Green Book</li>
</ul>
<small>(number of times I watched the movie)</small>

<h1>Recommended to me</h1>
<ul>
    <li>Night Crawler</li>
    <li>Taxi Driver</li>
    <li>Dead Poets Society</li>
    <li>Scott Pilgrim vs the World</li>
    <li>Cmon Cmon</li>
    <li>A Beautiful Mind</li>
    <li>Perfect Days</li>
    <li>Hamilton</li>
    <li>Israelism</li>
    <li>Big Fish</li>
    <li>Belfast</li>
    <li>The French Dispatch</li>
    <li>Anatomy of a Fall</li>
    <li>Pi</li>
</ul>
<small>Date of publication indicates last update.</small><br/>
<small>Send me some recommendations at <a href="mailto:kian.benner@gmail.com">kian.benner@gmail.com</a></small>
{% endblock %}