title: Music List
tag: list
date: 2024-06-24
---
{% extends 'base.html' %}

{% block title %}music list{% endblock %}

{% block content %}
<h1>Some albums I like in no particular order</h1>
<ul>
    <li>The Social Network<small>- Trent Reznor and Atticus Ross</small></li>
    <li>Currents<small>- Tame Impala</small></li>
    <li>Little Dark Age<small>- MGMT</small></li>
</ul>

<p>To be expanded...</p>

<small>Date of publication indicates last update.</small><br/>
<small>Send me some recommendations at <a href="mailto:kian.benner@gmail.com">kian.benner@gmail.com</a></small>
{% endblock %}