body, html {
    margin: 0;
    padding: 0;
}

:root {
    --main-font: "Times New Roman", serif;
    --site-color: #4E598C;
    --content-bg-color: #FFFFFF;
    --text-color: #000000;
    --text-color-light: #50544F;
    --nav-bg-color: #e6eae5;
    --nav-border-color: #111111;
    --a-color: #3E59AC;
}

body {
    background-color: var(--site-color);
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
}

a {
    color: var(--a-color);
}

section.content {
    width: 700px;
    height: 100%;
    background-color: var(--content-bg-color);
    margin: 20px;
    overflow-x: scroll;
}

nav#main-navigation {
    width: 100%;
}

#blog-title div {
    width: 100%;
    display: flex;
    justify-content: center;
}

a#blog-title {
    text-decoration: none;
}

#blog-title h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 80%;
    text-decoration: none;
    color: var(--text-color)
}

div#navbar {
    padding: 0 12px;
    border-top: 1px var(--nav-border-color) solid;
    border-bottom: 1px var(--nav-border-color) solid;
    background-color: var(--nav-bg-color);
}

div#navbar ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

div#navbar a {
    text-decoration-line: none;
    color: var(--text-color-light);
    font-family: Arial, serif;
}

section.post {
    padding: 5px 40px 25px 40px;
}

section.post h1 {
    font-size: 28px;
}

h1.fill-title {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

a.tag-link, a.page-link {
    text-decoration: none;
    font-size: 22px;
}

ul.page-list, ul.tags-list {
    padding-left: 10px;
    list-style: none;
}

ul.page-list li, ul.tags-list li {
    margin-bottom: 25px;
}

ul.page-list p {
    font-size: 13px;
    line-height: 0;
}