title: some thoughts after meditations
tag: reflections
date: 2024-06-15
---
{% extends 'base.html' %}

{% block title %}some thoughts after meditations {% endblock %}

{% block content %}
<h1>some thoughts after meditations</h1>
<p>
    The first book I read in my gap year is <i>Meditations</i> by Marcus Aurelius. I can't fully deny reading it was a
    silly social media influenced attempt at becoming a stoic, but I was looking for a way to get a grasp on my life
    anyway. It's been a week since I finished the book and no, I do not have some new purpose and motivation by which
    I am living life. The book was never meant to teach that, the book is merely the notes of a long dead emperor
    attempting to live his life by a philosophy, not even meant to be published.
</p>
{% endblock %}